.wishlist {
  background-color: rgb(246, 244, 242);
}
.table img {
  width: 100px;
}
.table {
  margin: 0 !important;
}
tr {
  text-align: center;
  padding-top: 50px;
}
td {
  background-color: rgb(246, 244, 242) !important;
}
th p {
  padding-top: 40px !important;
}
td p {
  padding-top: 40px !important;
}
th {
  background-color: rgb(246, 244, 242) !important;
}
.wishlist-table {
  padding-top: 10vh;
  padding-top: 10vh;
}
