.table img {
  width: 100px;
}
.table {
  margin-top: 5vh ;
}
tr {
  text-align: center;
  padding-top: 50px;
}

th p {
  padding-top: 40px !important;
}
td p {
  padding-top: 40px !important;
}
td a:hover {
  text-decoration: underline !important;
  color: rgb(191, 98, 76) !important;
}
