.decreaseBtn,
.increaseBtn {
  margin-top: 40px !important;
  border: none;
  width: 30px;
  height: 5vh;
  text-align: center;
  border-radius: 50%;
  background-color: rgb(191, 98, 76);
  color: white;
  padding-bottom: 5px;
}
.x-icon {
  padding-top: 45px;
  &:hover {
    color: brown;
    cursor: pointer;
  }
}
.client-msg {
  background-color: rgb(246, 244, 242);
  font-size: 50px;
  display: flex;
  justify-content: center;
  padding-top: 20vh;
  p {
    background-color: rgb(246, 244, 242);
    color: rgb(81, 70, 51);
  }
}
.table {
  background-color: rgb(246, 244, 242);
  /* margin-top: 20vh !important; */
}
